body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

/* #endregion */

/* #region Common */
.visually-hidden,
.read-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}