:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
/* fonts */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

/* Tags */

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #434455;
    background-color: #FFFFFF;
}

h1{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

address {
    font-style: normal;
}


/* header */

.header{
    background: white;
}

.logo .logo-start{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo{
    font-family: var(--second-family);
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    font-weight: 700;
    }

.nav-items a{
    font-weight: 500;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.nav-items a:hover,
.nav-items a:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.address a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.address a:hover,
.address a:focus{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404BBF;
}
/* hero section */

.hero-section{
    background-color: #2E2F42;
}

.hero-title{
    color: white;
}
.hero-button {
    background: rgba(77, 90, 229, 100);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.hero-button:hover,
.hero-button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: white;
    background-color: #404BBF;
}

#contacts{
    background: #F4F4FD;
}

#contacts h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

#contacts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}


.card-item{
    background: white;
}


.footer{
    background: #2E2F42;
}

.footer p {
    color: #F4F4FD;
}