body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #434455;
    background-color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol {
    list-style-type: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

address {
    font-style: normal;
}

/* #endregion */

/* #region Common */

.header{
    background: white;
}

.nav-items a{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-items a:hover,
.nav-items a:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.address a{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.address a:hover,
.address a:focus{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.hero-section{
    background-color: #2E2F42;
}

.hero-title{
    color: white;
}
.hero-button {
    background: rgba(77, 90, 229, 100);
    color: white
}

.hero-button:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: white
}

#contacts{
    background: #F4F4FD;
}

#contacts h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

#contacts p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate);
}


.card-item{
    background: white;
}


.footer{
    background: #2E2F42;
}

.footer p {
    color: #F4F4FD;
}